body{
    background-image: url("bilder/Background (1).png");
    background-position: 50% 35%;
    background-size: cover;
    height: 450px;
}

overraskelse{
    position: absolute; 
    left: 0px;
    top: 0px;
}

h1{
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    color: black;
    text-align: center;
    position: absolute; 
    top: 250px;
    left: 410px;
    text-shadow: 
       3px  3px  3px red,
      -3px -3px  3px red,
       3px -3px  3px red,
      -3px  3px  3px red;
}
p:nth-of-type(n+2) {
  font-size: 1em;
}